<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
    <h1>{{title}} </h1>
    <h2>{{subTitle}}</h2>
    <h3>{{proba}} </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolores est repellendus ab unde, voluptatum harum
        illo quam ex inventore repellat dicta explicabo nesciunt laudantium obcaecati vero eum exercitationem molestias.
    </p><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio incidunt corporis, eveniet quam maxime nisi et
        temporibus quos placeat corrupti neque officia dolore ipsa fugiat odio enim a velit minus!</p><br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, nemo, rerum dignissimos tenetur vero quaerat a,
        possimus perspiciatis sint repellendus blanditiis repudiandae sunt exercitationem! Harum obcaecati laborum
        dolore pariatur eos!</p><br>

    <input type="text" id="example" />
    <button id="action">Klick</button>
    <p id="text"></p>
</body>
<script src="../js/func.js"></script>

</html>